<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level %d{HH:mm:ss.SSS} [%t] (%F:%L) - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="/opt/logs/com/example/provider.log" filePattern="/opt/logs/com/example/$${date:yyyy-MM}/provider-%d{yyyy-MM-dd}.log">
            <PatternLayout charset="UTF-8" pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] (%F:%L) - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.example" level="INFO" />
        <Logger name="com.example.provider.ProviderApplication" level="INFO" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>